.flex-layout {
    display: flex;
    justify-content: center;
    align-items: center;

}

.text-layout {
    font-size: 50px;
    font-weight: bold;
    margin: 20px 10px;

}

.image-layout img {
    margin: 10px 10px;
    height: 500px;
    width: 500px;
}

.button-layout button{
    margin: 5px 5px;
    padding: 10px 12px;
    border-radius: 6px;
    color: white;
    border: none;
    font-size: 14px;

}

.submit {
    background-color: #0C79F6;
}

.reset {
    background-color: #DA3348;
}